.pdf-document {
  margin: 30px;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.pdf-page {
  border: 1px solid red;
  box-shadow: 0 1px 5px rgba(255, 0, 0, 0.46);
  margin-bottom: 30px;
}

.pdf-page-number {
  margin-bottom: 30px;
  text-align: center;
}
